.GodName {
    align-items: center;
    color:#ada176;
}

.GodTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 7rem;
}
.GodContainer {
    background-color: black;
    width: 12rem;
    height: 16rem;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: flex-end;
    border: .1rem solid #49422b
    

}





.GodMainDiv {
    background-color: #071325;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.GodMainDiv a {
    text-decoration: none;
}

.GodImg {
    max-width: 8rem;
    max-height: 8rem;
}